.Circle-img {
    display: block;
    border-radius: 50%;
}

/*Top*/
.Top{
    padding-top:30px;   /*Top-Img*/
    padding-bottom: 25px;   /*Desc-Bottom*/
    background-color:#FF9999; 
}

.Top-img{
    width:60px;
    height:60px;
    margin:0 auto;
}

.Top-name{
    padding-top:7px;    /*Img-Name*/
    padding-bottom:3px; /*Name-Desc*/
    letter-spacing: 1px;
    font-size:15px;
    color:#FF9999; 
    font-weight: bold;
    text-align:center;
}

.Top-desc{
    font-size:10px;    
    color:#FF9999;         
    text-align:center;
}

/*Bottom*/
.Bottom{
    padding:10px 0;
}

.person-panel{
    margin:0 25px;
    margin-top:20px;
    border: solid #efefef 2px;    
    border-radius:10px;
}

.person-name{
    font-size:15px;
}
.person-desc{
    font-size:13px;
}

.person-label{
    width:50px;
    height:17px;
    background-color:#ff4060;
    border-radius: 6px;
    font-size: 10px;
    color: white;
    padding: 2px 4px;
}

.person-checkin{
    width:70px;
    margin-top:-40px;
    text-align:right;
    font-size:11px;
    color:#828282;
}