<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Home@Vnicorn</title>
	<link rel="stylesheet" type="text/css" href="static\css\old.css">
</head>
<body>

	<div id="head">
		<h1 class='name_title'>Vnicorn</h1>
	</div>
	<div>
		<br  />
	</div>
	<div id="content">
		<br  />
		<img class="self" src="static\img\vni.jpg" alt="">
		<h2></h2>
		<h3>Clinical Medicine(hematology)<br/>Shanghai Jiao Tong University affiliated RuiJin Hospital</h3>
		<p class="intr">A postgraduate-to-be study hematology, wanna to embrace more slashes, and the nickname is transformed from unicorn hhhh</p>
		
	</div>
	


</body>
</html>

